.App {
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  margin-right: 10px;
  width: 75px;
}

.button#down {
  background-color: rgb(231, 91, 48); 
  
}

.button#up {
  background-color: rgb(77, 116, 223);
}

.input {
  margin-top: 10px;
  margin-right: 10px;
  width: 70px;
  height: 40px;
  border-radius: 25px;
  border: solid 1px gray;
  text-align: center;
}
